body {
  background-image: url("https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

ul {
  list-style-type: circle;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2vh;
}

#main {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4vw 4vh;
  margin-bottom: 2vh;
}

#output {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4vw 4vh;
  color: white;
  margin-bottom: 2vh;
}
